@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        font-family: montserrat;
        background-color: #292929;
        color: #fff;
    }
}

::-webkit-scrollbar {
    @apply w-[6px];
}
::-webkit-scrollbar-track {
    @apply bg-[#313131];
}
::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-[6px]
}

.container {
    @apply lg:max-w-[72rem] lg:mx-auto
}

@layer components {
    .headerWrapper {
        @apply 
        lg:shadow-[rgba(0,0,0,0.24)_0px_3px_8px];
    }
    .header .logo h2 {
        @apply font-bold
    }
    .header .logo span {
        @apply text-primary
    }
    .header nav ul {
        @apply hidden 
        lg:static lg:flex lg:gap-5;
    }
    .header nav ul a {
        @apply lg:text-light-gray lg:relative lg:px-[8px] lg:py-[6px];
    }
    .header nav ul a::after {
        @apply lg:bottom-0 lg:content-[''] lg:block lg:h-[1px] lg:left-[50%] lg:absolute lg:bg-light lg:transition-[width_0.3s_ease_0s,_left_0.3s_ease_0s] lg:w-0;
    }
    .header nav ul a:hover::after{
        @apply lg:w-[100%] lg:left-0 lg:bg-primary;
    }
    .header nav ul a:focus::after{
        @apply lg:w-[100%] lg:left-0;
    }
    .header nav ul a:hover, .header nav ul a:focus {
        @apply text-light;
    }
    .header nav ul a:focus::after {
        @apply lg:bg-primary;
    }
    .sideHeader {
        @apply left-[-5rem] fixed w-fit bottom-0 mb-10 transition-[1s_ease]
    }
    .sideHeader.open {
        @apply w-fit fixed ml-6 mb-10 left-0;
    }
    .sideHeader ul {
        @apply gap-2 flex flex-col items-center bg-dark px-3 py-6 rounded-2xl
    }
    .sideHeader ul i {
        @apply text-light
    }
    .sideHeader .circle {
        @apply flex items-center justify-center w-12 h-12;
    }
    .sideHeader a:focus {
        @apply flex items-center justify-center rounded-[50%] w-12 h-12 bg-primary;
    }
    .sideHeader a:hover, .sideHeader a.active {
        @apply flex items-center justify-center rounded-[50%] w-12 h-12 bg-primary;
    }
    
    /* Banner Section */

    .banner {
        @apply py-6
    }
    .bannerWrapper {
        @apply lg:grid lg:grid-cols-[_1fr_2fr] ;
    }
    .bannerImg {
        @apply w-full mx-auto;
    }
    .bannerImg img {
        @apply shadow-[rgba(0,0,0,0.24)_0px_3px_8px];
    }
    .bannerText {
        @apply bg-dark p-6 h-fit rounded-[1.5rem] w-full text-center lg:text-start shadow-[rgba(0,0,0,0.24)_0px_3px_8px];
    }
    .textWrapper {
        @apply flex items-center flex flex-col text-center;
    }
    .textWrapper .staticText {
        @apply text-[2rem];
    }
    .textWrapper .dynamicText {
        @apply leading-[90px] h-[90px] overflow-hidden
    }
    .dynamicText li {
        @apply text-center relative top-0 animate-[slide_32s_steps(4)_infinite] text-[2rem] text-primary ml-[15px] flex items-center 
    }
    @keyframes slide {
        100% {
            top: -360px;
        }
    }
    .dynamicText li span {
        @apply relative;
    }
    .dynamicText li span::after {
        @apply bg-dark bottom-[1.5rem] left-0 animate-[typing_8s_steps(23)_infinite] content-[''] absolute h-[2.5rem] w-full border-l-[3px] border-solid;
    }
    @keyframes typing {
        40%, 60%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }
      }

      /* Services Section */
      
      .servicesWrapper h2 {
        @apply py-4 relative w-fit
      }
      .servicesWrapper h2:before {
        @apply content-[''] absolute bottom-0 h-[.3rem] w-[35%] bg-primary
      }
      .cardsContainer {
        @apply scale-90 transition-[.7s_ease];
      }
      .cardsContainer:hover {
        @apply scale-100;
      }
      .cardsWrapper .card {
        @apply shadow-[rgba(0,0,0,0.24)_0px_3px_8px];
      }

      /* Featured Projects */

      .featured {
        @apply py-6;
      }
      .featuredWrapper h2 {
        @apply py-4 relative w-fit
      }
      .featuredWrapper h2:before {
        @apply content-[''] absolute bottom-0 h-[.3rem] w-[35%] bg-primary
      }
      .projectActions h3 {
        @apply text-3xl
      }
      .projectText a:hover {
        @apply relative py-[6px]; 
      }
      .projectText a::after {
        @apply bottom-0 content-[''] block h-[1px] left-[50%] absolute bg-light transition-[width_0.3s_ease_0s,_left_0.3s_ease_0s] w-0;
      }
      .projectText a:hover::after {
        @apply w-[100%] lg:left-0 bg-primary;
      }

      /* About Me Section */

      .aboutWrapper h2 {
        @apply py-4 relative w-fit
      }
      .aboutWrapper h2:before {
        @apply content-[''] absolute bottom-0 h-[.3rem] w-[35%] bg-primary
      }
      .aboutText span {
        @apply text-primary
      }
      .aboutLeft ul i {
        @apply duration-200 text-2xl h-10 w-10 text-center leading-[40px] rounded-[50%];
      }
      .aboutLeft ul i:hover {
        @apply bg-primary h-10 w-10 text-center leading-[40px] rounded-[50%]
      } 

      /* Contact Section */

      .contactWrapper h2 {
        @apply py-4 relative w-fit
      }
      .contactWrapper h2:before {
        @apply content-[''] absolute bottom-0 h-[.3rem] w-[35%] bg-primary
      }
      .contactText ul li {
        @apply flex items-center
      }
}

@layer utilities {
    .btn {
        @apply py-4 px-6 block w-fit h-fit duration-150
    }
    .bg--primary {
        @apply bg-primary rounded-xl
    }
    .bg--light {
        @apply bg-light rounded-xl text-primary 
    }
    
}